widget-stage {
  font-family: var(--fontFamily-primary);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 0.1rem;
}

widget-stage h1,
widget-stage h2,
widget-stage h3,
widget-stage h4 {
  padding: 0;
  margin: 0;
}

widget-stage input[type='number'],
widget-stage input[type='date'],
widget-stage input[type='time'] {
  font-family: var(--fontFamily-secondary) !important;
}
