.button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.9rem;
  border-radius: 0.4rem;
  outline: 0;
  border: 0.1rem solid var(--color-primary);
  color: var(--background-primary);
  height: 3rem;

  transition-property: color, background;
  transition: 200ms ease;
}

.button.btn-primary:disabled {
  cursor: inherit;
  background: var(--color-secondary-shadow) !important;
  border-color: var(--border-primary) !important;
  color: var(--text-secondary) !important;
}

.button.btn-tiny {
  font-size: 1.3rem;
  padding: 0.3rem;
}

.button.btn-primary:not(:disabled):hover {
  background: var(--background-primary);
  color: var(--color-primary);
}

.button.btn-icon {
  background: var(--background-primary);
  border: none;
  outline: 0;
  color: var(--background-primary);
}

.button.borderless {
  border: 0;
  background: transparent;
  color: var(--text-primary);
  padding: 0;
  outline: 0;
}

.button.underlined {
  border: 0;
  background: transparent;
  text-decoration: underline;
  color: var(--text-primary);
  padding: 0;
  outline: 0;
}

.button.underlined:hover,
.button.borderless:hover {
  color: var(--color-primary);
}

input[type='range'] {
  cursor: pointer;
  width: 100%;
  height: 0.5rem;
  padding: 0;
  border: none;
  border-radius: 0.2rem;
  outline: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 5rem;
  background: var(--color-primary);

  -webkit-appearance: none;
  -moz-appearance: none;
}

.on-error {
  color: var(--status-inactive) !important;
  padding: 0.5rem 0;
}

.on-success {
  color: var(--status-active) !important;
}

label.input-radio {
  margin: 1rem 0;
  display: none;
  position: relative;
  cursor: pointer;
  padding-left: 2.5rem;

  color: var(--background-primary);
  font-size: 1.2rem;
}

label.input-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
}

label.input-radio .check-mark,
label.input-checkbox .check-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  border: 0.1rem solid var(--color-secondary-shadow);
  background: var(--background-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

label.input-radio app-icon,
label.input-checkbox app-icon {
  display: none;
}

label.input-radio .check-mark:after,
label.input-checkbox .check-mark:after {
  color: var(--background-primary);

  display: none;
}

label.input-radio input:checked ~ .check-mark,
label.input-checkbox input:checked ~ .check-mark {
  background-color: var(--color-primary);
  border: none;
}

label.input-radio input:checked ~ .check-mark app-icon,
label.input-checkbox input:checked ~ .check-mark app-icon {
  display: inline-flex;
}

label.input-radio input:checked ~ .check-mark:after,
label.input-checkbox input:checked ~ .check-mark:after {
  display: block;
}

.loader-instance-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);

  display: none;
  align-items: center;
  justify-content: center;

  z-index: 80;
}

.loader-instance-backdrop.show {
  display: flex !important;
}

.loader-instance-backdrop.show-recall {
  display: flex;
  border: 2px solid var(--status-inactive);
  backdrop-filter: blur(0.11rem);
  background: rgba(255, 255, 255, 0.3);
}

.rounded-question-mark {
  position: relative;

  width: 1.2rem;
  height: 1.2rem;

  margin-left: 0.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  border-radius: 50%;
  border: 0.1rem solid var(--color-secondary-dark);
  color: var(--background-containers);
  background: var(--color-secondary-dark);
}

.tool-tip::before {
  display: block;
  position: absolute;
  content: attr(tool-tip);
  white-space: pre-line;
  transform: translateY(30%);
  left: calc(50% + 1.5rem);
  z-index: 3;

  background: var(--color-primary-dark);
  color: var(--background-containers);
  box-shadow: 0 0.1rem 0.5rem 0 var(--color-primary-shadow);
  padding: 1rem;

  width: max-content;
  max-width: 16rem;

  font-size: 1rem;
  word-break: break-word;

  visibility: hidden;
  opacity: 0;

  transition: opacity 200ms ease, visibility 200ms ease;
}

.tool-tip[orientation='top']::before {
  transform: translateY(-30%);
}

.tool-tip::after {
  display: block;
  position: absolute;
  content: '';

  top: 0.2rem;
  left: calc(50% + 1.2rem);

  width: 0.6rem;
  height: 0.6rem;

  transform: rotate(45deg);
  background: var(--color-primary-dark);

  visibility: hidden;
  opacity: 0;

  transition: opacity 200ms ease, visibility 200ms ease;
}

.tool-tip:hover::before,
.tool-tip:hover::after {
  opacity: 1;
  visibility: visible;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 0.4rem;
}

.scrollbar.vertical::-webkit-scrollbar {
  width: 0.4rem;
}

.scrollbar.horizontal::-webkit-scrollbar {
  height: 0.4rem;
}

.helper-text {
  display: block;
  cursor: pointer;

  color: var(--text-primary);

  font-size: 1.2rem;
  text-decoration: underline;
}

/* #region SCROLLABLE */
.scrollable-vertical {
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-horizontal {
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollable,
.scrollable-vertical.scrollable-horizontal {
  overflow: auto;
}

.scrollable,
.scrollable-vertical,
.scrollable-horizontal {
  --scrollbar-size: 0.4rem;
}

.scrollable::-webkit-scrollbar,
.scrollable-vertical::-webkit-scrollbar,
.scrollable-horizontal::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

.scrollable::-webkit-scrollbar-thumb,
.scrollable-vertical::-webkit-scrollbar-thumb,
.scrollable-horizontal::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: var(--scrollbar-size);
}
/* #endregion */
